language: rust

rust:
  - nightly-2019-08-13

env:
  - RUST_CONTRACTS_LIB=example_contracts_impl/target/debug/libexample_contracts_impl.so

script:
  # Test with no plugin
  - cargo test --all-features
  - "cargo run --example true | (! grep -q 'requires: true')"
  # Clean
  - cargo clean
  - cargo clean --manifest-path example_contracts_impl/Cargo.toml
  - cargo clean --manifest-path example_verification_tool/Cargo.toml
  # Build
  - cargo build --manifest-path example_contracts_impl/Cargo.toml
  - cargo build --manifest-path example_verification_tool/Cargo.toml
  # Test with the plugin
  - example_verification_tool/target/debug/cargo-tool test --all-features
  - "example_verification_tool/target/debug/cargo-tool run --example true | grep -q 'requires: true'"

notifications:
  email:
    on_success: change
    on_failure: always
